##################################################################
#                   Reina's Example ENV                          #
#       Replace the values with the appropriate values           #
##################################################################

# Production Bot Token
REINA_TOKEN="token"

# Dev Bot Token
# If using edge builds, use a token for a dev bot instead
REINA_DEV_TOKEN="token"

# Rin's API Keys
HYPIXEL_API_KEY="key"
TENOR_API_KEY="key"
REDDIT_ID="id"
REDDIT_SECRET="secret"

# DB Credentials
POSTGRES_PASSWORD="password"
POSTGRES_IP="ip"
POSTGRES_USER="user"
POSTGRES_DISQUEST_DATABASE="db"
POSTGRES_EVENTS_DATABASE="db"
POSTGRES_WS_DATABASE="db"
POSTGRES_HELP_DATABASE="db"
POSTGRES_PORT="3719"