**/__pycache__/**/*
**/__pycache__/


**/__pycache__
**/*.pyc
/Bot/Cogs/__pycache__/**/*
/Bot/Cogs/__pycache__/
/Bot/genshin_wish_sim/__pycache__/**/*
/Bot/genshin_wish_sim/__pycache__/
/Bot/help_utils/__pycache__/**/*
/Bot/help_utils/__pycache__/